@import 'color.css';

.region-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 20px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 600;
    
    background-color: var(--seagull-50);
    width: 80%;
    padding: 15px 0;
    border-radius: 10px;
    
    margin: 0 auto 30px auto; 
}

.region-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.region-map {
    max-width: 450px;
    height: auto;
    border-radius: 8px;
}

.description {
    flex: 1;   
    text-align: justify;   
    line-height: 1.6;
}

@media screen and (max-width: 800px) {
    .region-content {
        padding: 10px;
        width: 80%;
    }

    .region-section {
        flex-direction: column; 
        gap: 20px;
    }

    .region-map {
        max-width: 100%;
        width: 80%;
        height: auto;
    }

    .description {
        font-size: 12px;
        padding: 0 10px;
    }

    .heading {
        width: 90%;
        font-size: 16px;
        padding: 20px 0;
    }
}
